@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/** general and page */
html {
    font-size: 20px;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    margin: 0.25rem;
    background-color: #111;
    color: #ddd;
}

i.label {
    margin-right: 0.5rem;
}

.btn {
    font-weight: 500;
}

/** service list and service entry layout */
.service-list {
    display: flex;
    flex-direction: column;
}

.service-entry {
    margin: 0.125rem 0;
    background-color: #383838;
}

.hidden {
    display: none;
}

/** service entry content */
.service-header, .service-password, .service-settings {
    padding: 5px;
}

.service-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 300;
    font-size: 1.5rem;
}

.service-name {
    overflow-wrap: anywhere;
}

.service-details select {
    width: 8rem;
}

.service-settings {
    display: flex;
    justify-content: space-between;
    background-color: #484848;
}

code {
    visibility: hidden;
    color: #8bc34a;
    padding: 5px;
    border: white solid 1px;
}

code.revealed {
    visibility: visible;
}